/* @font-face {
    font-family: 'Mulish';
    src: url('font/Mulish-VariableFont_wght.ttf')format('woff2'),
    url('font/Mulish-Italic-VariableFont_wght.ttf')format('woff2'),
} */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* variaveis globais */
:root{
    --cor-de-fundo: #1d1925;
    --cor-do-container: #2f293b;
    --cor-do-header: #2f293b;

    --meu-degrade-1: linear-gradient(to bottom, #1d1925, #2F293B);
    --meu-degrade-2: linear-gradient(to bottom,#1d1925, #372A50);
    --meu-degrade-3: linear-gradient(to bottom,#1E1A26, #372A50);
    --meu-degrade-menu-1: #1d1925de;

    /* #1E1A26 */
    
    --cor-do-titulo-1: white;
    --cor-do-titulo-2: white;
    --cor-do-texto-1: white;

    font-family: "Poppins", sans-serif;
}

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Poppins' sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden; 

    background: var(--meu-degrade-2);
    
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--meu-degrade-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--cor-do-texto-1);
}

#logo{
    margin-left: 40px;
}

h1{
    text-align: center;
    margin-top: 50px;
    color: var(--cor-do-titulo-1);
}

h2{
    color: var(--cor-do-titulo-2);

}

img{
    max-width: 100%;
    display: block;
}


.menu{
    display: flex;
    margin-right: 40px;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
    transition: 0.3s;
}

.menu a:hover{
    font-size: 20px;
    color: #ffcc00;
    background-color: #4637633a;
    border-radius: 20px;
}

/* container com todos os itens da pagina */
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 100px;
    padding: 50px;
    
    /* background-color:var(--cor-do-container); */
    background: var(--meu-degrade-3);
    color: var(--cor-do-texto-1);
    
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    
    /* box-shadow: 0 4px 15px black; */
    /* border-radius: 10px; */
}

/* apresentacao foto, nome e profissao */
#apresentacao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

p#nome-profissao{
    margin: 30px;
    font-size: 40px;
    color: var(--cor-do-texto-1);
}

#img-breno{
    margin: 30px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 15px black;
}

#sobre{
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
    color: var(--cor-do-texto-1);
    
}

#habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.img-Habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img-html{
    width: 200px;
    height: 200px;
    text-align: center;
}

.img-css{
    width: 200px;
    height: 200px;
    text-align: center;
}

.img-javascript{
    width: 200px;
    height: 200px;
    text-align: center;
}

.img-git{
    width: 200px;
    height: 200px;
    text-align: center;
}

#projetos{
    margin-top: 150px;
    align-items: center;
    text-align: center;
    
}

#contato{
    margin-top: 150px;
    align-items: center;
    text-align: center;
    
}

/* Mobile Menu Button */
.menu-icon {
    display: none;
    cursor: pointer;
    margin-right: 40px;
}

.menu-icon div {
    width: 35px;
    height: 5px;
    background-color: var(--cor-do-texto-1);
    margin: 6px 0;
    transition: 0.4s;
}

/* Cuidando da responsividade 1020px */

@media screen and (max-width: 1140px){

    body{
        overflow-x: hidden;
    }

    #container{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        
        margin-top: 0px;
        padding: 0px;
        align-items: center;
        margin-top: 0px;
        
        /* background-color:var(--cor-do-container); */
        background: var(--meu-degrade-3);
        color: var(--cor-do-texto-1);
        
        width: 100%;
        min-height: 100vh;
    }
    
    #apresentacao{
        flex-direction: column-reverse;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #nome-profissao{
        margin-top: 25px;
        text-align: center;
    }
    
    #sobre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    /* Header */
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: var(--meu-degrade-menu-1);
        border-radius: 20px;

        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
    }
    
    .menu.active {
        max-height: 500px;
        opacity: 1;
    }

    .menu-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
    }

    .menu-icon p:hover{
        background-color: #463763;
        border-radius: 10px;
    }

    .menu li {
        text-align: center;
        padding-top: 10px;
    }

    .menu li a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        transition: 0.8s;
    }

    .menu li a:hover {
        background: #463763;
        color: #ffcc00;
        border-radius: 5px;
    }
    

    .img-Habilidades {
        flex-direction: column;
        align-items: center;
    }

    .img-html, .img-css, .img-javascript, .img-git {
        width: 100px;
        height: 100px;
        margin: 10px 0;
    }

    #sobre, #projetos, #contato {
        padding: 20px;
        text-align: center;
    }

    p#nome-profissao {
        font-size: 1.5rem;
    }

    #img-breno {
        width: 200px;
        height: 200px;
    }
}