@font-face {
    font-family: 'Mulish';
    src: url('font/Mulish-VariableFont_wght.ttf')format('woff2'),
    url('font/Mulish-Italic-VariableFont_wght.ttf')format('woff2'),
}

/* variaveis globais */
:root{
    --cor-de-fundo: #1d1925;
    --cor-do-container: #2f293b;
    --cor-do-header: #2f293b;

    --meu-degrade-1: linear-gradient(to bottom, #1d1925, #2F293B);
    --meu-degrade-2: linear-gradient(to bottom,#1d1925, #372A50);
    --meu-degrade-3: linear-gradient(to bottom,#1E1A26, #372A50);

    /* #1E1A26 */
    
    --cor-do-titulo-1: white;
    --cor-do-titulo-2: white;
    --cor-do-texto-1: white;
}

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Mulish';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-x: hidden; 

    background: var(--meu-degrade-2);
    
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--meu-degrade-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: var(--cor-do-texto-1);
}

#logo{
    margin-left: 40px;
}

h1{
    text-align: center;
    margin-top: 50px;
    color: var(--cor-do-titulo-1);
}

h2{
    color: var(--cor-do-titulo-2);

}

img{
    max-width: 100%;
    display: block;
}


.menu{
    display: flex;
    margin-right: 40px;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

/* container com todos os itens da pagina */
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 100px;
    padding: 50px;
    
    /* background-color:var(--cor-do-container); */
    background: var(--meu-degrade-3);
    color: var(--cor-do-texto-1);
    
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    
    /* box-shadow: 0 4px 15px black; */
    /* border-radius: 10px; */
}

/* apresentacao foto, nome e profissao */
#apresentacao{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

p#nome-profissao{
    font-size: 40px;
    color: var(--cor-do-texto-1);
}

#img-breno{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 15px black;
}

#sobre{
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
    color: var(--cor-do-texto-1);
    
}

#habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.img-Habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img-html{
    width: 200px;
    height: 200px;
    text-align: center;
}

.img-css{
    width: 200px;
    height: 200px;
    text-align: center;
}

.img-javascript{
    width: 200px;
    height: 200px;
    text-align: center;
}

.img-git{
    width: 200px;
    height: 200px;
    text-align: center;
}

#projetos{
    margin-top: 150px;
    align-items: center;
    text-align: center;
    
}

#contato{
    margin-top: 150px;
    align-items: center;
    text-align: center;
    
}